In [2]:
import numpy as np 
import pandas as pd 

data = pd.read_csv('data.csv')

test_set = data[data['shot_made_flag'].isnull()]
training_set = data.dropna()
test_set.to_csv('test_set.csv')
training_set.to_csv('training_set.csv')

In [3]:
training_data = pd.read_csv("training_set.csv")

In [4]:
training_data = pd.DataFrame(training_data)

In [5]:
training_data = training_data.drop(training_data.columns[0], axis = 1)

In [6]:
training_data.head()

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id
0,Jump Shot,Jump Shot,12,20000012,34.0443,-157,0,-118.4268,10,1,...,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,2
1,Jump Shot,Jump Shot,35,20000012,33.9093,-101,135,-118.3708,7,1,...,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,3
2,Jump Shot,Jump Shot,43,20000012,33.8693,138,175,-118.1318,6,1,...,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,4
3,Driving Dunk Shot,Dunk,155,20000012,34.0443,0,0,-118.2698,6,2,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,5
4,Jump Shot,Jump Shot,244,20000012,34.0553,-145,-11,-118.4148,9,3,...,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,6

In [7]:
tr = training_data.drop("shot_made_flag", axis = 1)

In [8]:
tr_labels = training_data["shot_made_flag"].copy()

In [9]:
tr_labels

0        0.0
1        1.0
2        0.0
3        1.0
4        0.0
        ...
25692    0.0
25693    0.0
25694    1.0
25695    0.0
25696    0.0
Name: shot_made_flag, Length: 25697, dtype: float64

In [10]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25697 entries, 0 to 25696
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   action_type         25697 non-null  object
 1   combined_shot_type  25697 non-null  object
 2   game_event_id       25697 non-null  int64
 3   game_id             25697 non-null  int64
 4   lat                 25697 non-null  float64
 5   loc_x               25697 non-null  int64
 6   loc_y               25697 non-null  int64
 7   lon                 25697 non-null  float64
 8   minutes_remaining   25697 non-null  int64
 9   period              25697 non-null  int64
 10  playoffs            25697 non-null  int64
 11  season              25697 non-null  object
 12  seconds_remaining   25697 non-null  int64
 13  shot_distance       25697 non-null  int64
 14  shot_type           25697 non-null  object
 15  shot_zone_area      25697 non-null  object
 16  shot_zone_basic     25697 non-null  object
 17  shot_zone_range     25697 non-null  object
 18  team_id             25697 non-null  int64
 19  team_name           25697 non-null  object
 20  game_date           25697 non-null  object
 21  matchup             25697 non-null  object
 22  opponent            25697 non-null  object
 23  shot_id             25697 non-null  int64
dtypes: float64(2), int64(11), object(11)
memory usage: 4.7+ MB

In [11]:
tr["lat"] = tr["lat"].astype(np.int64)
tr["lon"] = tr["lon"].astype(np.int64)

In [12]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25697 entries, 0 to 25696
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   action_type         25697 non-null  object
 1   combined_shot_type  25697 non-null  object
 2   game_event_id       25697 non-null  int64
 3   game_id             25697 non-null  int64
 4   lat                 25697 non-null  int64
 5   loc_x               25697 non-null  int64
 6   loc_y               25697 non-null  int64
 7   lon                 25697 non-null  int64
 8   minutes_remaining   25697 non-null  int64
 9   period              25697 non-null  int64
 10  playoffs            25697 non-null  int64
 11  season              25697 non-null  object
 12  seconds_remaining   25697 non-null  int64
 13  shot_distance       25697 non-null  int64
 14  shot_type           25697 non-null  object
 15  shot_zone_area      25697 non-null  object
 16  shot_zone_basic     25697 non-null  object
 17  shot_zone_range     25697 non-null  object
 18  team_id             25697 non-null  int64
 19  team_name           25697 non-null  object
 20  game_date           25697 non-null  object
 21  matchup             25697 non-null  object
 22  opponent            25697 non-null  object
 23  shot_id             25697 non-null  int64
dtypes: int64(13), object(11)
memory usage: 4.7+ MB

In [13]:
tr_num = tr.select_dtypes(include='int64')

In [14]:
tr_num

,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,playoffs,seconds_remaining,shot_distance,team_id,shot_id
0,12,20000012,34,-157,0,-118,10,1,0,22,15,1610612747,2
1,35,20000012,33,-101,135,-118,7,1,0,45,16,1610612747,3
2,43,20000012,33,138,175,-118,6,1,0,52,22,1610612747,4
3,155,20000012,34,0,0,-118,6,2,0,19,0,1610612747,5
4,244,20000012,34,-145,-11,-118,9,3,0,32,14,1610612747,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25692,382,49900088,34,0,0,-118,7,4,1,4,0,1610612747,30692
25693,397,49900088,33,1,48,-118,6,4,1,5,4,1610612747,30693
25694,426,49900088,33,-134,166,-118,3,4,1,28,21,1610612747,30695
25695,448,49900088,33,31,267,-118,2,4,1,10,26,1610612747,30696
25696,471,49900088,33,1,72,-118,0,4,1,39,7,1610612747,30697

In [15]:
tr_cat = tr.select_dtypes(include='object')

In [16]:
tr_cat

,action_type,combined_shot_type,season,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_name,game_date,matchup,opponent
0,Jump Shot,Jump Shot,2000-01,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,Los Angeles Lakers,2000-10-31,LAL @ POR,POR
1,Jump Shot,Jump Shot,2000-01,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,Los Angeles Lakers,2000-10-31,LAL @ POR,POR
2,Jump Shot,Jump Shot,2000-01,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,Los Angeles Lakers,2000-10-31,LAL @ POR,POR
3,Driving Dunk Shot,Dunk,2000-01,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,Los Angeles Lakers,2000-10-31,LAL @ POR,POR
4,Jump Shot,Jump Shot,2000-01,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,Los Angeles Lakers,2000-10-31,LAL @ POR,POR
...,...,...,...,...,...,...,...,...,...,...,...
25692,Driving Layup Shot,Layup,1999-00,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND
25693,Jump Shot,Jump Shot,1999-00,2PT Field Goal,Center(C),In The Paint (Non-RA),Less Than 8 ft.,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND
25694,Running Jump Shot,Jump Shot,1999-00,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND
25695,Jump Shot,Jump Shot,1999-00,3PT Field Goal,Center(C),Above the Break 3,24+ ft.,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND
25696,Jump Shot,Jump Shot,1999-00,2PT Field Goal,Center(C),In The Paint (Non-RA),Less Than 8 ft.,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND

In [17]:
from sklearn.preprocessing import LabelBinarizer
lbe = LabelBinarizer()

In [18]:
tr_action = tr_cat["action_type"]
tr_combinedshot = tr_cat["combined_shot_type"]
tr_season = tr_cat["season"]
tr_shottype = tr_cat["shot_type"]
tr_shotarea = tr_cat["shot_zone_area"]
tr_shotbasic = tr_cat["shot_zone_basic"]
tr_shotrange = tr_cat["shot_zone_range"]
tr_team = tr_cat["team_name"]
tr_gamedate = tr_cat["game_date"]
tr_matchup = tr_cat["matchup"]
tr_opponent = tr_cat["opponent"]

In [19]:
tr_action_1hot = lbe.fit_transform(tr_action)
tr_combinedshot_1hot = lbe.fit_transform(tr_combinedshot)
tr_season_1hot = lbe.fit_transform(tr_season)
tr_shottype_1hot = lbe.fit_transform(tr_shottype)
tr_shotarea_1hot = lbe.fit_transform(tr_shotarea)
tr_shotbasic_1hot = lbe.fit_transform(tr_shotbasic)
tr_shotrange_1hot = lbe.fit_transform(tr_shotrange)
tr_team_1hot = lbe.fit_transform(tr_team)
tr_gamedate_1hot = lbe.fit_transform(tr_gamedate)
tr_matchup_1hot = lbe.fit_transform(tr_matchup)
tr_opponent_1hot = lbe.fit_transform(tr_opponent)

In [20]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [21]:
from sklearn.base import BaseEstimator, TransformerMixin
class DataFrameSelector(BaseEstimator, TransformerMixin): 
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names 
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names].values

In [22]:
from sklearn.pipeline import FeatureUnion

num_attribs = list(tr_num)
cat_attribs = list(tr_cat)

In [23]:
num_pipeline = Pipeline([
    ('selector', DataFrameSelector(num_attribs)),
    ('std_scaler', StandardScaler()),
])

In [51]:
cat_pipeline = Pipeline([
             ('selector', DataFrameSelector(cat_attribs)),
             ('one_hot_encoder', OneHotEncoder(sparse=False, handle_unknown='ignore')),
])

In [52]:
full_pipeline = FeatureUnion(transformer_list=[
             ("num_pipeline", num_pipeline),
             ("cat_pipeline", cat_pipeline),
])

In [53]:
tr_prepared = full_pipeline.fit_transform(tr)

In [54]:
tr_prepared

array([[-1.58469517, -0.61270418,  1.19908892, ...,  0.        ,
         0.        ,  0.        ],
       [-1.43113212, -0.61270418, -0.83396651, ...,  0.        ,
         0.        ,  0.        ],
       [-1.37771888, -0.61270418, -0.83396651, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [ 1.17943988,  3.25137453, -0.83396651, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.32632628,  3.25137453, -0.83396651, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.47988934,  3.25137453, -0.83396651, ...,  0.        ,
         0.        ,  0.        ]])

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error

from sklearn.model_selection import cross_val_score

In [29]:
lin_reg = LinearRegression()
lin_reg.fit(tr_prepared, tr_labels)

some_data = tr.iloc[:5]
some_labels = tr_labels.iloc[:5]
some_data_prepared = full_pipeline.transform(some_data)

print("Predictions:\t", lin_reg.predict(some_data_prepared))

print("Labels:\t\t", list(some_labels))

tr_predictions = lin_reg.predict(tr_prepared)
lin_mse = mean_squared_error(tr_labels, tr_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

Predictions:	 [0.11523438 0.19042969 0.24511719 0.81933594 0.11328125]
Labels:		 [0.0, 1.0, 0.0, 1.0, 0.0]

0.4439368694422668

In [30]:
tree_reg = DecisionTreeRegressor()
tree_reg.fit(tr_prepared, tr_labels)

some_data = tr.iloc[:5]
some_labels = tr_labels.iloc[:5]
some_data_prepared = full_pipeline.transform(some_data)

print("Predictions:\t", tree_reg.predict(some_data_prepared))

print("Labels:\t\t", list(some_labels))

tr_predictions = tree_reg.predict(tr_prepared)
tree_mse = mean_squared_error(tr_labels, tr_predictions)
tree_rmse = np.sqrt(tree_mse)
tree_rmse

Predictions:	 [0. 1. 0. 1. 0.]
Labels:		 [0.0, 1.0, 0.0, 1.0, 0.0]

0.0

In [31]:
def display_scores(scores):
    print("Scores:", scores)
    print("Scores Means:", scores.mean())
    print("Standard Deviation:", scores.std())

In [32]:
scores = cross_val_score(tree_reg, tr_prepared, tr_labels, scoring="neg_mean_squared_error", cv=10)
rmse_scores = np.sqrt(-scores)
display_scores(rmse_scores)

Scores: [0.63918723 0.63307046 0.60542296 0.62596229 0.62720428 0.63399174
 0.6400997  0.63687149 0.61098036 0.66731511]
Scores Means: 0.6320105634326395
Standard Deviation: 0.016127239555726702

In [33]:
lin_scores = cross_val_score(lin_reg, tr_prepared, tr_labels, scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores: [2.57816864e+11 2.27517358e+11 4.72731278e+11 1.44585436e+11
 3.34964372e+11 1.49701925e+11 3.74076938e+11 6.56964278e+11
 3.78715106e+11 2.00936697e+11]
Scores Means: 319801025143.12695
Standard Deviation: 151602981095.2153

In [34]:
forest_reg = RandomForestRegressor()
forest_reg.fit(tr_prepared, tr_labels)

some_data = tr.iloc[:5]
some_labels = tr_labels.iloc[:5]
some_data_prepared = full_pipeline.transform(some_data)

print("Predictions:\t", forest_reg.predict(some_data_prepared))

print("Labels:\t\t", list(some_labels))

tr_predictions = forest_reg.predict(tr_prepared)
forest_mse = mean_squared_error(tr_labels, tr_predictions)
forest_rmse = np.sqrt(forest_mse)
forest_rmse

Predictions:	 [0.2  0.79 0.25 0.75 0.11]
Labels:		 [0.0, 1.0, 0.0, 1.0, 0.0]

0.17533419187907462

In [35]:
forest_scores = cross_val_score(forest_reg, tr_prepared, tr_labels, scoring="neg_mean_squared_error", cv=10)
forest_rmse_scores = np.sqrt(-forest_scores)
display_scores(forest_rmse_scores)

Scores: [0.46237818 0.46712241 0.46861087 0.46776674 0.47167122 0.47336103
 0.47106065 0.47647822 0.47924417 0.47000551]
Scores Means: 0.47076989739721997
Standard Deviation: 0.0045825623100745816

In [36]:
from sklearn.model_selection import GridSearchCV
param_grid = [
    {'n_estimators': [3, 10, 30], 'max_features': [2,4,6,8]},
    {'bootstrap': [False], 'n_estimators': [3, 10], 'max_features': [2,3,4]}
]
grid_search = GridSearchCV(forest_reg, param_grid, cv=5, scoring="neg_mean_squared_error")

grid_search.fit(tr_prepared, tr_labels)

print("Best Params:\t", grid_search.best_params_)
print("Best Estimator:\t", grid_search.best_estimator_)

Best Params:	 {'max_features': 8, 'n_estimators': 30}
Best Estimator:	 RandomForestRegressor(max_features=8, n_estimators=30)

In [37]:
cvres = grid_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

0.5396065706272346 {'max_features': 2, 'n_estimators': 3}
0.48984778983925886 {'max_features': 2, 'n_estimators': 10}
0.4749980107659095 {'max_features': 2, 'n_estimators': 30}
0.539642721373296 {'max_features': 4, 'n_estimators': 3}
0.4882232758208821 {'max_features': 4, 'n_estimators': 10}
0.4733702255892717 {'max_features': 4, 'n_estimators': 30}
0.5383433148990818 {'max_features': 6, 'n_estimators': 3}
0.4898098253560237 {'max_features': 6, 'n_estimators': 10}
0.47323614958934157 {'max_features': 6, 'n_estimators': 30}
0.5401514030998594 {'max_features': 8, 'n_estimators': 3}
0.4857846706091726 {'max_features': 8, 'n_estimators': 10}
0.47167528019633337 {'max_features': 8, 'n_estimators': 30}
0.5400835826146019 {'bootstrap': False, 'max_features': 2, 'n_estimators': 3}
0.49041292743440806 {'bootstrap': False, 'max_features': 2, 'n_estimators': 10}
0.5380778018106764 {'bootstrap': False, 'max_features': 3, 'n_estimators': 3}
0.4910385391695227 {'bootstrap': False, 'max_features': 3, 'n_estimators': 10}
0.540855514778828 {'bootstrap': False, 'max_features': 4, 'n_estimators': 3}
0.4902602261259075 {'bootstrap': False, 'max_features': 4, 'n_estimators': 10}

In [68]:
test_data = pd.read_csv("test_set.csv")

In [69]:
test_data = test_data.drop(test_data.columns[0], axis = 1)

In [74]:
test_data_id = test_data["shot_id"]
test_data_id = pd.DataFrame(test_data_id)

In [71]:
x_test = test_data.drop("shot_made_flag", axis = 1)

In [72]:
x_test

,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,...,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id
0,Jump Shot,Jump Shot,10,20000012,33.9723,167,72,-118.1028,10,1,...,2PT Field Goal,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,1
1,Jump Shot,Jump Shot,254,20000012,34.0163,1,28,-118.2688,8,3,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,8
2,Driving Layup Shot,Layup,100,20000019,34.0443,0,0,-118.2698,0,1,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-11-01,LAL vs. UTA,UTA,17
3,Driving Layup Shot,Layup,249,20000019,34.0443,0,0,-118.2698,10,3,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-11-01,LAL vs. UTA,UTA,20
4,Jump Shot,Jump Shot,4,20000047,33.9683,163,76,-118.1068,11,1,...,2PT Field Goal,Right Side(R),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-11-04,LAL @ VAN,VAN,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Jump Shot,Jump Shot,386,49900087,33.8223,-23,222,-118.2928,7,4,...,2PT Field Goal,Center(C),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-06-16,LAL @ IND,IND,30669
4996,Tip Shot,Tip Shot,213,49900088,34.0443,0,0,-118.2698,0,2,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND,30681
4997,Running Jump Shot,Jump Shot,226,49900088,33.9963,-68,48,-118.3378,11,3,...,2PT Field Goal,Left Side(L),In The Paint (Non-RA),8-16 ft.,1610612747,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND,30683
4998,Running Jump Shot,Jump Shot,268,49900088,33.9513,16,93,-118.2538,5,3,...,2PT Field Goal,Center(C),In The Paint (Non-RA),8-16 ft.,1610612747,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND,30687
4999,Tip Shot,Tip Shot,398,49900088,34.0443,0,0,-118.2698,6,4,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-06-19,LAL vs. IND,IND,30694

In [58]:
final_model = grid_search.best_estimator_

In [59]:
x_test_prepared = full_pipeline.transform(x_test)

In [60]:
final_predictions = final_model.predict(x_test_prepared)

In [61]:
final_predictions

array([0.5       , 0.5       , 0.73333333, ..., 0.6       , 0.4       ,
       0.46666667])

In [64]:
final_predictions = pd.DataFrame(final_predictions)

In [65]:
final_predictions

             0
0     0.500000
1     0.500000
2     0.733333
3     0.566667
4     0.500000
...        ...
4995  0.166667
4996  0.400000
4997  0.600000
4998  0.400000
4999  0.466667

[5000 rows x 1 columns]

In [75]:
test_data_id

      shot_id
0           1
1           8
2          17
3          20
4          33
...       ...
4995    30669
4996    30681
4997    30683
4998    30687
4999    30694

[5000 rows x 1 columns]

In [77]:
submission_file = pd.concat([test_data_id, final_predictions], axis=1)

In [78]:
submission_file

      shot_id         0
0           1  0.500000
1           8  0.500000
2          17  0.733333
3          20  0.566667
4          33  0.500000
...       ...       ...
4995    30669  0.166667
4996    30681  0.400000
4997    30683  0.600000
4998    30687  0.400000
4999    30694  0.466667

[5000 rows x 2 columns]

In [79]:
submission_file.columns = ["shot_id", "shot_made_flag"]

In [80]:
submission_file

      shot_id  shot_made_flag
0           1        0.500000
1           8        0.500000
2          17        0.733333
3          20        0.566667
4          33        0.500000
...       ...             ...
4995    30669        0.166667
4996    30681        0.400000
4997    30683        0.600000
4998    30687        0.400000
4999    30694        0.466667

[5000 rows x 2 columns]

In [81]:
submission_file.to_csv('submission_file.csv')